/**
 * ------------------------------------------------------------------
 * app.scss 入口文件
 *
 * ------------------------------------------------------------------
 *
 * @author  sunnie
 * @link    https://github.com/sunnie1992/weapp-gulp
 * @data    2019-03-05
 */

// 支持文件
@import 'assets/scss/support';

.test {
	background-image: url(%CDN_IMG%/qr-r.jpg);
}

.app {
	height: 100%;
	justify-content: space-between;
	text-align: center;
	box-sizing: border-box;
	font-family: -apple-system-font, Helvetica Neue, Helvetica, sans-serif;
}

.app__inner {
	margin: 20px;
}
